body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

#video, #canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fps {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
