body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  display: none;
  mix-blend-mode: add;
}

#standbyScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  color: white;
  font-size: 3em;
  z-index: 1;
  mix-blend-mode: normal;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

#debugMenu {
  position: absolute;
  bottom: 50px;
  right: 0;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  display: none;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

#debugToggleButton {
  position: absolute;
  bottom: 60px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  width: 40px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.button-container button {
  flex: 1 1 30%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

label {
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

#videoInfo {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

#keystrokeLog {
  margin-top: 10px;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}
