body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    max-width: 100%;
    max-height: 100%;
}

#caption {
    margin-top: 10px;
    font-size: 1.2em;
}

#debugMenu {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 10px;
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: calc(100% - 20px);
}

.button-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #555;
}

#debugMenuToggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    display: block;
    margin: 10px 0;
    color: #e0e0e0;
}

.interactiveHierarchy {
    margin-top: 20px;
    overflow-x: auto;
}

.interactiveHierarchy div {
    margin-bottom: 10px;
}

.interactiveHierarchy div .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.interactiveHierarchy div .id {
    font-weight: bold;
    text-decoration: underline;
}

.interactiveHierarchy div .toggle {
    cursor: pointer;
}

.interactiveHierarchy div .videos {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.interactiveHierarchy div .videos .video-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    width: 100px;
}

.interactiveHierarchy div .videos .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.interactiveHierarchy div .videos .video-entry span {
    text-align: center;
}

#standby {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whiteDot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    animation: fade 3s infinite;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
