body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: add;
    opacity: 0;
    transition: opacity 1s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; /* Prevent interactions */
}

#debug-menu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    width: calc(100% - 40px);
}

#debug-toggle {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#debug-content {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    max-height: 70vh;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#thumbnail-toggle {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    cursor: pointer;
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    max-height: 0;
    margin-top: 10px;
    transition: max-height 0.3s ease;
}

.thumbnail-container {
    margin: 5px;
    text-align: center;
}

.thumbnail-container img {
    cursor: pointer;
    width: 100px;
    height: auto;
}

.thumbnail-container p {
    margin: 0;
    cursor: pointer;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

#volume-control, #audio-transition-control, #visual-transition-control {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    position: sticky;
    bottom: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

#volume-control label, #audio-transition-control label, #visual-transition-control label {
    margin-right: 10px;
}

#volume-value, #audio-transition-value, #visual-transition-value {
    margin-left: 10px;
}

@media (max-width: 768px) {
    #debug-menu {
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }
    #debug-toggle {
        bottom: 0;
        left: 0;
    }
    #debug-content {
        max-height: 60vh;
    }
}
